<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        div {
            background-color: #f0f0f0;
            padding: 10px;
            margin: 10px;
        }

        .logo{
            background-color: #306230;
            color: white;
            padding: 10px;
            margin: 10px;
            text-align: center;
            font-size: 24px;
        }

        h1 {
            color: #306230;
        }

        p {
            color: #2c392c;
        }

        img {
            border-radius: 50%;
        }
    </style>

    {{{ styles }}}
</head>
<body>

    <div class="logo">
        <img src="enj.jpg" alt="Enjambre" width="100">
    </div>

    {{{ body }}}

    <div>
        Muchas gracias por confiar en nosotros.
    </div>

</body>
</html>